# .gitignore

# Ignorar entornos virtuales
venv/
.env/
.venv/

# Archivos de configuración de entorno
*.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de bases de datos temporales
*.sqlite3

# Archivos de VS Code (si usás este editor)
.vscode/

# Carpetas de pruebas o build
build/
dist/
*.egg-info/

# Carpeta de cobertura de tests
htmlcov/

# Archivos de Jupyter Notebooks
.ipynb_checkpoints/
